/* Styling and positioning navbar container */
.nav {
	position: fixed;
	top: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 20px;
	height: 20px;
	/* Navbar always stays on top of page */
	z-index: 1;

	/* Animations */
	transition-timing-function: ease-in;
	transition: all 0.5s;
}

/* Adds a black color on navbar */
.nav__black {
	background-color: #111;
}

/* Styling and positioning navbar logo */
.nav__logo {
	position: fixed;
	color: #bc0407;
	left: 20px;
	width: 100px;
	font-weight: bold;
	cursor: pointer;
}

/* Styling and positioning navbar avatar */
.nav__search {
	position: fixed;
	right: 20px;
	width: 20px;
	cursor: pointer;
}
