.searchPopup {
	flex: 1;
	background-color: #febb02;
	padding: 10px;
	border-radius: 10px;
	position: sticky;
	top: 10px;
	height: max-content;
}

.searchPopup-Title {
	font-size: 20px;
	color: #555;
	margin-bottom: 10px;
}

.searchPopup-Item {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-bottom: 10px;
}

.searchPopup-Item > label {
	font-size: 12px;
}

.searchPopup-Item > input {
	height: 30px;
	border: none;
	padding: 5px;
}
.searchPopup-Item > span {
	height: 30px;
	padding: 5px;
	background-color: white;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.searchPopup-Options {
	padding: 10px;
}

.searchPopup-OptionItem {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	color: #555;
	font-size: 12px;
}

.searchPopup-OptionInput {
	width: 50px;
}

.searchPopup > button {
	padding: 10px;
	background-color: #0071c2;
	color: white;
	border: none;
	width: 100%;
	font-weight: 500;
	cursor: pointer;
}
